* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg, #0a3d62 0%, #0080d4 100%);
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 90vh;
  height: auto;
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container {
  background: #d4e6f1;
  margin-top: 50px;
  width: 100%;
  height: auto;
  min-height: 540px;
  max-width: 380px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  border-radius: 55px;
}
.todo-block {
  background-color: #d4e6f1;
  width: 360px;
  min-height: 500px;
  height: auto;
  text-align: center;
}
.todo-heading {
  margin: 30px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7rem;
  font-weight: 700;
  color: #0a3d62;
}
.todo-input-form {
  box-sizing: border-box;
  display: block;
  justify-content: flex-start;
  margin-bottom: 10px;
}
